:root{
    --blue-theme-color: #00496c;
    --red-theme-color: #d03942;
}
.theme-color{
    color: var(--blue-theme-color);
}
.background-theme-color{
    background-color: var(--blue-theme-color);
}
.theme-red-color{
    color: var(--red-theme-color);
}
.background-theme-red-color{
    background-color: var(--red-theme-color);
}

/******************Start Overriding BootStrap*******************/

/******************Start Top Header*******************/
.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
}
body{
    height: 2000px;
}
header .top-header, header #global-search, .clearfix{
    background-color: #FFF;
}
header + .content{
    margin-top: 160px;
}

.top-header .open-sidebar-btn{
    margin-left: 20px;
    margin-right: -10px;
    margin-top: 3px;
}
.top-header #logo-img{
    margin-top: 5px;
    margin-left: 60px;
}
.top-header .corner{
    border-width: 0 38px 31px 0;
    border-color: transparent #00496c transparent transparent;
    border-style: solid;
    position: absolute;
    top: -21px;
    margin-left: -84px;
}

.top-header ul li{
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-header ul li a{
    color: #FFF;
    font-weight: bold;
}
.top-header ul li a:hover{
    text-decoration: unset;
}
.top-header .language .dropdown-menu{
    margin-top: 0px;
    border: 2px solid #888;
}
.top-header .language .dropdown-menu a{
    color: rgba(225, 225, 225, 0.8);
}
.top-header .language .dropdown-menu a:hover{
    color: var(--red-theme-color);
    background-color: var(--blue-theme-color);
    padding: 6px 20px;
    -webkit-transition: padding 0.5s ease;
    -moz-transition: padding 0.5s ease;
    -o-transition: padding 0.5s ease;
    transition: padding 0.5s ease;
}
.language a.dropdown-toggle, .language a.dropdown-toggle:visited{
    color: rgba(225, 225, 225, 0.8) !important;
}
/******************End Top Header*******************/
/*************************Search Form*************************/
#global-search div{
    padding-top: 5px;
    padding-bottom: 13px;
}
#global-search .form-control{
    border-color: var(--red-theme-color);
    border-radius: 0;
}
#global-search input{
    margin-right: -7px;
    width:30%;
}
#global-search .fa-search{
    color:white;
    background-color: var(--red-theme-color);
    padding-top: 9px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 11px;
    margin-left: -5px;
    margin-top: 2px;
}

#global-search #search-modules-list{
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
    display: none;
    position: absolute;
    z-index: 20;
    background: #fff;
    padding-top: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    text-align: left;
}
#global-search #search-modules-list li{
    padding: 5px 30px;
    width:150px;
    color:#000;
}
#global-search #search-modules-list li:hover{
    padding: 7px 33px;
    background-color: #ccc;
}
#global-search #search-option{
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
}
#global-search .input-group{
    background-color: var(--red-theme-color);
    padding-top: 6px;
    padding-bottom: 6px;
    color:#FFF;
}
/*************************End Search Form*************************/
/*********************Navbar Links*************************/
#main-navbar .navbar{
    border: unset;
    border-radius: unset;
}

#main-navbar .navbar-default .navbar-nav{
    padding-left: 40px;
}

#main-navbar .navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 17px;
}

#main-navbar .navbar-default .navbar-nav > li > a:hover {
    color: var(--red-theme-color);
    border-bottom: 6px solid var(--red-theme-color);
}

#main-navbar.navbar-default .navbar-nav > li > a:active {
    color: white;
}

#main-navbar .navbar-default .navbar-nav > .active > a{
    background-color: var(--blue-theme-color);
    border-bottom: 6px solid var(--red-theme-color);
}

#main-navbar .navbar-default .navbar-nav > li > a:visited {
    background-color: var(--blue-theme-color);
}

#main-navbar .navbar{
    margin-bottom: 0px;
}
#main-navbar li.getMenu i{
    margin-left: 5px;
}
/*********************End Navbar Links*************************/

/*********************Start Submenu*************************/
.submenu{
    background: rgba(255,255,255,.9);
    z-index: 9;
    border-bottom: 1px solid #dadada;
    display: none;
}
.submenu ul{
    padding-top: 5px;
}
.list-items .menu-item:last-child li{
    border-bottom: unset;
    padding-bottom: unset;
}
.submenu ul li.menu-item ul li:first-child{
    margin-right: 3%;
}
.submenu ul li.menu-item ul li{
    border-bottom: 1px solid #dadada;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 48%;
}
.submenu ul li.menu-item ul li span{
    border-left: 2px solid var(--red-theme-color);
    padding-left: 10px;    
}
/*********************End Submenu*************************/